# Site Jekyll
Website_Fiocruz_Pesquisadores/.env
Website_Fiocruz_Pesquisadores/_site/
Website_Fiocruz_Pesquisadores/.jekyll-cache/

# Admin FastAPI
insight-admin/venv/
insight-admin/__pycache__/
insight-admin/data/
insight-admin/.env

# Python General
*.py[cod]
*$py.class
__pycache__/
