<nav class="navbar {{ page.navbar_class }}">
    <div class="container nav-container">
        <div class="logo">
            <a href="/">
                <img src="/assets/img/logo.png" alt="Fiocruz Logo" style="height: 80px;">
            </a>
        </div>
        <ul class="nav-links">
            <li><a href="/projetos.html" class="{% if page.url == '/projetos.html' %}active{% endif %}">Projetos</a></li>
            <li><a href="#">Dashboards</a></li>
            <li><a href="/publicacoes.html" class="{% if page.url == '/publicacoes.html' %}active{% endif %}">Publicações</a></li>
            <li><a href="/equipe.html" class="{% if page.url == '/equipe.html' %}active{% endif %}">Equipe</a></li>
            <li><a href="#" class="nav-btn">Colabore</a></li>
        </ul>
    </div>
</nav>
